<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/211dbf0e-a392-445d-9275-a0323a39ff28/v3/index.json" />
  </packageSources>
</configuration>